<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="https://branding.sphinix.ru/SphinixServers/Profile%20Pics/PFPServers.png"/>
        <span id="welcomeHeader">Добро пожаловать в SphinixLauncher!</span>
        <span id="welcomeDescription">Мы сделали лаунчер, чтобы вам было удобно играть в Minecraft. <br>
            Так же с помощью нашего браузера вы сожете зайти на наши сервера и партнеров.
        </span>
        <br>
        <span id="welcomeDescCTA">Вы всего в нескольких кликах, до игры на вашем любимом сервере.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                ПРОДОЛЖИТЬ
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>